<!DOCTYPE html>

<html>
<header>
    <h1>Title: {{post.title}}</h1>
  </header>
    <main>

        <h1>Content: {{post.content}}</h1>
        <br/>

        <h1>Author: {{ post.user }}</h1>


        <a href="#" onClick="document.getElementById('likebutton').submit()">Like</a> {{post.new_like}}

        <form id="likebutton" method="POST" action="/posts/{{post}}/preference/1/">
        {% csrf_token %}
        <input type="hidden">
        </form>

        <h2>Comments</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_table }}
          <button type="submit">Send</button>
        </form>

        {% block nav %}
        <ul id="nav">
            <li>{% block nav-home %}<a href="{% url 'logout' %}">Logout</a>{% endblock %}</li>
            <li>{% block nav-posts %}<a href="{% url 'posts' %}">Posts</a>{% endblock %}</li>
        </ul>
        {% endblock %}


    </main>
</html>
